.box {
  border: 3px black solid;
  text-align: center;
}

.box-circle {
  background-color: greenyellow;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.box-5 {
  margin-top: 250px;
  background-color: red;
  position: relative;
  height: 300px;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
}

.box-1 {
  top: -15px;
  left: -15px;
}
.box-2 {
  top: -15px;
  right: -15px;
}
.box-3 {
  bottom: -15px;
  left: -15px;
}
.box-4 {
  bottom: -15px;
  right: -15px;
}
